/* line 3, ../sass/layout.scss */
body {
  background: #fafafa;
}

/* line 11, ../sass/layout.scss */
nav {
  margin-top: 4em;
}
/* line 13, ../sass/layout.scss */
nav section {
  color: white;
}
/* line 15, ../sass/layout.scss */
nav section .active {
  min-width: 6em;
}

/* line 22, ../sass/layout.scss */
.content .row {
  margin: 0 auto;
}
/* line 24, ../sass/layout.scss */
.content .row .column, .content .row .columns {
  padding: 0;
}

/* line 30, ../sass/layout.scss */
footer {
  background: #fafafa !important;
}
/* line 33, ../sass/layout.scss */
footer .top-bar .top-bar-section ul {
  background: #fafafa !important;
  color: black;
}

/* line 40, ../sass/layout.scss */
#searchresults {
  background: #E0E0E0;
  border: 1px solid #000000;
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

/* line 49, ../sass/layout.scss */
#searchresults ul {
  list-style-type: none;
}
