/* line 3, ../sass/layout.scss */
body {
  background: #fafafa;
}

/* line 7, ../sass/layout.scss */
.wrapper {
  margin-top: 5em;
}

/* line 11, ../sass/layout.scss */
nav {
  margin-top: 4em;
}
/* line 13, ../sass/layout.scss */
nav section {
  color: white;
}
/* line 15, ../sass/layout.scss */
nav section .active {
  min-width: 6em;
}

/* line 24, ../sass/layout.scss */
.content .row {
  margin: 0 auto;
}
/* line 26, ../sass/layout.scss */
.content .row .column, .content .row .columns {
  padding: 0;
}

/* line 32, ../sass/layout.scss */
footer {
  background: #fafafa !important;
}
/* line 34, ../sass/layout.scss */
footer .top-bar {
  border-top: 1px solid;
}
/* line 36, ../sass/layout.scss */
footer .top-bar .top-bar-section ul {
  background: #fafafa !important;
  color: black;
}
